<!doctype html>
<html lang="en">

<head>
    <title>{% block title %} Oferto.al {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>

{{ include ('nav.html.twig') }}

{% block bodymain %}{% endblock %}


</body>
</html>

{{ include('styleandjs.html.twig') }}