<!doctype html>
<html lang="en">

<head>
    <title>{% block title %} Oferto.al {% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
<div id="wrapper">
{{ include ('nav.html.twig') }}
<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">

                {% block header %}{% endblock %}

            {% block bodymain %}{% endblock %}
        </div>
    </div>
</div>






</body>
</html>

{{ include('styleandjs.html.twig') }}